
*{
	margin:0;
	padding:0;
}
body{
	width:500px;
	margin:0 auto;


}
#chatBox{
	padding-top:100px;
}
img{
	height:100px;
	width:500px;
}
#showMessage{
	height:200px;
	width:480px;
	border: 1px solid #ccc;
	margin-top:2px;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	overflow: scroll;
	overflow-x:hidden;
	word-wrap: break-word;
	word-break: normal;
}
#sendMessage{
	height:200px;
	width:500px;
	border: 1px solid #ccc;
	margin-top:10px;
}